<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>重置密码</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/core.css" rel="stylesheet" type="text/css">
	<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
	<script src="/static/js/modernizr.min.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="wrapper-page">
	<div class="panel panel-color panel-primary panel-pages">
		<div class="panel-heading bg-img">
			<div class="bg-overlay"></div>
			<h3 class="text-center m-t-10 text-white">重置密码</h3>
		</div> 
		<div class="panel-body">
			<form method="post" action="forget.html" role="form" class="text-center">
				<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>请输入<b>登录账号</b>，我们会给此邮箱发送一封邮件!
				</div>
				<div class="form-group m-b-0">
					<div class="input-group">
						<input type="email" name="username" class="form-control input-lg" placeholder="登录账号" required=""> 
						<span class="input-group-btn"><button type="submit" class="btn btn-lg btn-primary">发送</button></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>