<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>用户登录</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/core.css" rel="stylesheet" type="text/css">
	<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
	<script src="/static/js/modernizr.min.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="wrapper-page">
	<div class="panel panel-color panel-primary panel-pages">
		<div class="panel-heading bg-img"> 
			<div class="bg-overlay"></div>
			<h3 class="text-center m-t-10 text-white">用户登录</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal m-t-20" action="login.html" method="post">
				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control input-lg" name="username" type="text" required="" placeholder="登录账号">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control input-lg" name="password" type="password" required="" placeholder="登录密码">
					</div>
				</div>
				<div class="form-group text-center m-t-40">
					<div class="col-xs-12">
						<button class="btn btn-primary btn-lg w-lg" type="submit">登录</button>
					</div>
				</div>
				<div class="form-group m-t-30">
					<div class="col-sm-4 pull-left">
						<a href="forget.html"><i class="fa fa-lock m-r-5"></i> 忘记密码?</a>
					</div>
					<div class="col-sm-4 pull-right text-right ">
						<a href="register.html">注册账号</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>var resizefunc=[];</script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>