{extend name="base/public"}
{block name="title"}系统设置{/block}
{block name="breadcrumb"}<ol class="breadcrumb pull-left"><li><a href="{:url('index/index')}">主页</a></li><li><a href="{:url('setting/config')}">用户</a></li><li class="active">系统设置</li></ol>{/block}
{block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">系统设置</h3></div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label class="col-md-1 control-label">汇率</label>
						<div class="col-md-10"><input type="text" name="rate" class="form-control" value="{$config.rate}"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">月付上限</label>
						<div class="col-md-10"><input type="text" name="month" class="form-control" value="{$config.month}"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">购买开关</label>
						<div class="col-md-10">
							<div class="col-lg-10">
								<div class="radio radio-info radio-inline">
									<input type="radio" id="z01" value="1" name="is_buy" {eq name="config.is_buy" value="1"}checked="checked"{/eq}>
									<label for="z01">开</label>
								</div>
								<div class="radio radio-info radio-inline">
									<input type="radio" id="z02" value="2" name="is_buy" {eq name="config.is_buy" value="2"}checked="checked"{/eq}>
									<label for="z02">关</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">Vultr网关</label>
						<div class="col-md-10"><input type="text" name="vultr_api" class="form-control" value="{$config.vultr_api}"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">Vultr密钥</label>
						<div class="col-md-10"><input type="text" name="vultr_keys" class="form-control" value="{$config.vultr_keys}"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">修改时间</label>
						<div class="col-md-10"><p class="form-control-static">{$config.time|date='Y-m-d H:i:s'}</p></div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-1 col-lg-10">
							<button class="btn btn-success" type="submit">修改</button>
							<button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
						</div>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div>
{/block}
{block name="script"}<script>subnav("{:url('setting/config')}");</script>{/block}