{extend name="base/public"}
{block name="title"}添加系统{/block}
{block name="breadcrumb"}<ol class="breadcrumb pull-left"><li><a href="{:url('index/index')}">主页</a></li><li><a href="{:url('setting/dc')}">位置</a></li><li class="active">添加</li></ol>{/block}
{block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">添加系统</h3></div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" method="post" action='add_os.html'>
					<div class="form-group">
						<label class="col-md-1 control-label">类型</label>
						<div class="col-md-8">
							<select name="fid" aria-controls="datatable" class="form-control input-sm m-l-5">
								{volist name='fa' id="vo"}
								<option value="vo.id">{$vo.name}</option>
								{/volist}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">名称</label>
						<div class="col-md-8"><input type="text" name="name" class="form-control"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">OSID</label>
						<div class="col-md-8"><input type="text" name="osid" class="form-control"></div>
					</div>
					<div class="form-group">
						<label class="col-md-1 control-label">价格/小时</label>
						<div class="col-md-8"><input type="text" name="hour" class="form-control"></div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-1 col-lg-10">
							<button class="btn btn-success" type="submit">确认</button>
							<button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
						</div>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div>
{/block}
{block name="script"}<script>subnav("{:url('setting/os')}");</script>{/block}